.greybackground {
  background-color: #bbbbbb;
}
header {
  background-color: #3AFF5C;
  padding: 10px;
  border: 10px dotted #000000;
  margin-bottom: 100px;
  font-size: 18px;
  font-family: monospace;
  display: block;
  text-align: center;
}